# 1. Python Objects and Data Structures Assessment

# Assesment Link
# https://github.com/Pierian-Data/Complete-Python-3-Bootcamp/blob/master/00-Python%20Object%20and%20Data%20Structure%20Basics/09-Objects%20and%20Data%20Structures%20Assessment%20Test.ipynb

# Lists

In [2]:
list3 = [1,2,[3,4,'hello']]

In [40]:
#Reassign 'hello' in this nested list to say 'goodbye' instead:
list3[2][2]='goodbye'

In [41]:
# Build this list [0,0,0] two separate ways.

string = '0,0,0'
string = string.split(',')
list(string)

['0', '0', '0']

In [42]:
string = [0, 0, 0]

In [29]:
string

[0, 0, 0]

In [6]:
list4=[5,3,4,6,1]

In [43]:
#Sort the list below:
list4.sort()

In [45]:
list4

[1, 3, 4, 5, 6]

# Numbers

In [11]:
num = 25

In [15]:
import math
math.sqrt(25)

5.0

In [31]:
5**2

25

# Strings

In [37]:
s = 'hello'

In [39]:
# Print out 'e' using indexing
print(s[1])

e

In [32]:
# Reverse the string using slicing
s[::-1]

'olleh'

In [35]:
# Print out the 'o' using Method1
print(s[4])

o

In [36]:
# Print out the 'o' using Method2
print(s[-1])

o

# Tuples

In [46]:
t = (1, 2, 4, 5, 4)

In [47]:
t

(1, 2, 4, 5, 4)

# Sets

In [48]:
# Use a set to find the unique values of the list below:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [49]:
print(set(list5))

{1, 2, 33, 4, 3, 11, 22}

# Ditionaries

In [51]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [52]:
d.get('simple_key')

'hello'

In [67]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [69]:
d['k1']['k2']

'hello'

In [70]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [75]:
d['k1'][0]['nest_key'][1]

['hello']

In [76]:
# This will be hard and annoying!
#Grab hello
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [82]:
d['k1'][2]['k2'][1]['tough'][2]

['hello']

# End of Assesment on Python Objects and Data Structures Assessment

# 2. Statements Assesment Test

In [92]:
# Use for, .split(), and if to create a Statement that will print out words that start with 's':

st = 'Print only the words that start with s in this sentence'
list_words = st.split(' ')

for word in list_words:
    if word.startswith('s'):
        print(word)

start
s
sentence

In [97]:
# Use range() to print all the even numbers from 0 to 10.
even_list1 = [num for num in range(0, 10, 2)]
even_list2 = [num for num in range(0, 10) if num%2==0] 
print(even_list1)
print(even_list2)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]

In [102]:
#Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

list_1to50 = [num for num in range(1, 51) if num%3==0 ]
print(list_1to50)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [113]:
st = 'Print every word in this sentence that has an even number of letters'
word_list = st.split(' ')

for word in word_list:
    if len(word) %2 == 0:
        print(word)

word
in
this
sentence
that
an
even
number
of

In [119]:
for num in range(1, 101):
    if num%3==0 and num%5==0:
        print("FizzBuzz")
    elif num%3==0:
        print("Fizz")
    elif num%5==0:
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [130]:
# Use List Comprehension to create a list of the first letters of every word in the string below:
st = 'Create a list of the first letters of every word in this string'
[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [131]:
pwd

'/home/akashgudadhe/Documents/Programming/Python3'